.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--color-fg);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 200px; */
    background-color: var(--color-fg);
    color: var(--color-bg);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: -100px; */
    max-width: 300px;
    min-width: 200px;
    word-wrap: break-word;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-fg) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }