/* General CSS */
:root {
    --color-bg: #ffffff;
    --color-mid: #898989;
    --color-fg: #000000;
    --color-a-link: DodgerBlue;
  }

body {  
    font-weight: 300;
    background-color: var(--color-bg);
    color: var(--color-fg);
    max-width: 1024px;
    margin: auto;
    margin-top: 1.5%;
    font-family: -apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", sans-serif; 
}
/* End of general CSS section */

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #222222;
      --color-fg: #cacaca;
    }
    .icon { 
        -webkit-filter: invert(.75); 
        filter: invert(.75);
      } 
  }

/* Different screen sizes parameters */
/* Properties for screen width less than 1024px */
@media screen and (max-width: 1024px) { 
    body {
        margin: 3%;
        }
}
/* End of different screen sizes parameters section */

/* Specific CSS */
/* Header */
header {
    height: 3em;
    line-height: 3em;
}
header a {
    color: var(--color-fg);
    text-decoration: none;
}
a.logo {
    font-size: 1.5em;
    font-weight: bold;
}
a.menu {
    float: right;
    color: var(--color-fg);
    padding-left: 3%;
}
/* End of header section */

/* Links */
a {
    color: var(--color-a-link);
    text-decoration: none;
}
a:hover {
    color: var(--color-a-link);
    text-decoration: underline;
}
/* End of links section */

/* Flex boxes section */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex-container > div {
    min-width: 200px;
    max-width: 200px;
    margin: 10px;
}
a.box {
    min-width: 200px; 
    color: var(--color-fg);
    flex: 1;
    padding: 20px;
    border: solid 1px #b7b7b7;
    border-radius: 10px;
    margin: 1%;
    text-decoration: none;
    background-color: rgb(128, 128, 128, 0.1);
}
a.box:hover {
    background-color: rgb(128, 128, 128, 0.2);
}
/* End of flex boxes section */

/* Form section */

.error {
    color: red;
}
input {
    color: var(--color-fg);
    border: solid 1px var(--color-mid);
    border-radius: 5px;
    padding: 7px;
    margin: 0.5%;
    width: 180px;
    background-color: var(--color-bg);
    font-size: 1em;
}

hr {
    margin-top: 3%;
    margin-bottom: 3%;
    border: 0;
    height: 1px;
    background: #b7b7b7;
    background-image: linear-gradient(to right, var(--color-bg), var(--color-mid), var(--color-bg));
}
footer {
    text-align: center;
}

button {
    max-width: 200px;
    color: var(--color-fg);
    background-color: rgb(128, 128, 128, 0.2);
    border: solid 1px var(--color-mid);
    border-radius: 10px;
    padding: 15px;
    font-size: 1em;
    margin: 1%;
    margin-left: 0;
    width: 40%;
}
button:hover {
    background-color: rgb(128, 128, 128, 0.4);
}
.example {
    padding: 10px 20px 10px 20px;
    background-color: rgb(128, 128, 128, 0.1);
    border-radius: 15px;
    width:fit-content;
}
.callout {
    padding: 20px;
    background-color: rgb(128, 128, 128, 0.1);
    border-radius: 5px;
    width:fit-content;
}